/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

/* Chevron Arrow  */
.army-chevron {
  box-sizing: content-box;
  width: 50px;
  height: 0;
  position: relative;
  margin: 0 0 6px;
  padding: 1px;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  text-overflow: clip;
  margin: 30px 0; }

.army-chevron::before {
  box-sizing: content-box;
  width: 50%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: black;
  text-overflow: clip;
  background: white;
  text-shadow: none;
  -webkit-transform: skewY(33deg);
  -ms-transform: skewY(33deg);
  transform: skewY(33deg); }

.army-chevron::after {
  box-sizing: content-box;
  width: 50%;
  height: 100%;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  border: none;
  font: normal 100%/normal Arial, Helvetica, sans-serif;
  color: black;
  text-overflow: clip;
  background: white;
  text-shadow: none;
  -webkit-transform: skewY(-33deg);
  -ms-transform: skewY(-33deg);
  transform: skewY(-33deg); }

/* homepage story button */
.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* Scholarship learn more button */
.cta-btn2 {
  bottom: 10px;
  left: 50%;
  height: 150px;
  padding-top: 150px;
  line-height: 50px; }

/* Donate, Events*/
.cta .btn1 {
  font-weight: 700;
  width: 90%;
  height: 50px;
  background: url(../img/button_bg.png) no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative; }

/* Share */
.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

/* Read the Stories */
.stats2 h3 {
  color: #074a76; }

/* Video Background */
video {
  background: url(../img/desktop_bg.png) no-repeat !important;
  background-size: cover !important;
  display: none !important; }

/* mobile bakcground imgs */
.mobilebkg {
  position: fixed;
  background: url(../img/desktop_bg.png) center top no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  width: 100%;
  z-index: -1; }

.mobilebkg1 {
  position: fixed;
  background: url(img/scholarships/scholar_bg.png) center top no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  width: 100%;
  z-index: -1; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

/* Training, Access, Awarness P CLASS */
.funds p {
  display: block;
  color: #074a76;
  margin: 0 auto;
  width: 55%; }

/* TAKE ACTION HOMEPAGE  SECTION */
/* TAKE ACTION SECTION */
.fittext {
  font-weight: 100;
  line-height: 50px;
  font-size: 45px;
  font-family: Muli Bold;
  display: inline-block; }

/* TOGETHER WE CAN FIND SECTION ON HOMEPAGE subheader */
.subhead {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold; }

/* Give section header */
.cta-header {
  display: block;
  font-size: 1.6vw;
  padding: 0px 0; }

/* Events headers */
.cta-header {
  display: block;
  font-size: 1.6vw;
  padding: 0px 0; }

/* p class settings for all three sections */
p.text-center {
  /*background: rgba(7,74,118,.7); */
  padding: 20px; }

/* BTN CLASS SETTINGS */
/* Donate, EVENT, and SHARE BTN Setting */
/* HomePage CSS for stories Part */
/* One in Five Adults */
.fittext1 {
  font-weight: 200;
  line-height: 50px;
  font-size: 45px;
  color: #074a76; }

/* experiece a mental health illness in a given year */
.subhead {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold; }

/* blue bar  */
.line {
  margin-top: 30px;
  margin-bottom: 30px; }

/* quote */
.subhead2 {
  text-transform: uppercase;
  font-size: 2vw;
  /*width: 48%;*/
  margin: 0 auto;
  font-size: 12px;
  color: #074a76; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

/* Scholarship HOMEPAGE * /

/* Scholarship header */
.fittext {
  font-weight: 100;
  line-height: 50px;
  font-size: 45px;
  font-family: Muli Bold;
  display: inline-block; }

/* WE are offering section */
.subhead {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold; }

/* Scholarship HOMEPAGE blue background */
.action1 {
  height: 660px;
  background: url(../img/scholarships/esktop_bg.png) center no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  padding-top: 60px;
  /*padding-bottom: 45%; */ }

/* Our Mission to Clairty */
/* our mission header */
.fittext {
  font-weight: 100;
  line-height: 50px;
  font-size: 45px;
  font-family: Muli Bold;
  display: inline-block; }

/* the quell foundation works */
.subhead {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold; }

/* TRAINING< ACCESS< AWARNESS Section */
/* Training */
.funds h3 {
  padding: 10px;
  width: 45%;
  margin: 0 auto 15px auto;
  color: #074a76; }

/* Access */
.funds h3 {
  padding: 10px;
  width: 45%;
  margin: 0 auto 15px auto;
  color: #074a76; }

/* Awarrenes */
.funds h3 {
  padding: 10px;
  width: 45%;
  margin: 0 auto 15px auto;
  color: #074a76; }

footer {
  padding: 30px 0 30px 0;
  box-sizing: border-box;
  background: white; }

footer .social {
  display: inline-block;
  color: white;
  background: #074a76;
  padding: 8px 0;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  text-align: center;
  font-size: 27px;
  margin-right: 25px; }

@font-face {
  font-family: Muli Bold;
  src: url(../fonts/Muli-Bold.ttf);
  font-weight: bold; }
@font-face {
  font-family: Muli Bold;
  src: url(../fonts/Muli-Bold.ttf);
  font-weight: 700; }
@font-face {
  font-family: Muli Light;
  src: url(../fonts/Muli-Light.ttf);
  font-weight: 700; }
html, body {
  height: 100vh;
  font-family: Muli Bold; }

.header {
  height: auto; }

.header h1 {
  font-size: 65px;
  line-height: 65px; }

.header h1 span, .header h1 {
  font-size: 15vw;
  line-height: 15vw; }

.header .subhead {
  width: 300px; }

.header .subhead br {
  display: none; }

.headline .page-scroll {
  margin-bottom: 0;
  margin-top: 10px; }

.header h4 {
  font-size: 9.5vw;
  font-weight: 300;
  line-height: 90px;
  font-size: 80px;
  margin: 0 auto 20px auto;
  width: 80%;
  text-align: center;
  font-family: muli bold;
  padding-bottom: 550px; }

.header h1 {
  font-size: 9.5vw;
  font-weight: 300;
  line-height: 90px;
  font-size: 80px;
  margin: 0 auto 20px auto;
  width: 80%;
  text-align: center;
  font-family: muli bold; }

.header h2 {
  font-size: 9.5vw;
  font-weight: 300;
  line-height: 90px;
  font-size: 80px;
  margin: 0 auto 20px auto;
  width: 80%;
  text-align: center;
  font-family: muli bold;
  padding-bottom: 30px;
  color: #fff; }

.header h1 span {
  font-size: 9.5vw;
  font-size: 70px;
  width: 90%;
  display: inline-block;
  font-family: muli bold; }

.header {
  /*background: url(../img/header2.jpg) center no-repeat; background-size: cover; */
  color: white;
  min-height: 100%;
  height: 100%;
  /* background: rgba(229, 217, 188, .2) !important; */
  padding-top: 50px;
  padding-top: 0;
  box-sizing: border-box; }

.innerheader {
  height: 100%;
  min-height: 100%; }

/*.headline {   margin-top: 361px; }*/
.headline {
  width: 100%;
  left: 0;
  padding-top: 5%; }

.header .fa {
  font-size: 1.6vw;
  font-family: 'Muli';
  margin-bottom: 20px;
  animation-iteration-count: 2;
  display: inline-block; }

header {
  position: relative;
  background: transparent !important;
  width: 100%;
  overflow: hidden; }

/* h1 to h6 headers */
h6 {
  font-size: 4.5vw;
  font-size: 50px;
  font-weight: bold;
  color: #074a76; }

h2 {
  font-size: 4.5vw;
  font-size: 50px;
  font-weight: bold;
  color: #074a76; }

h4 {
  font-size: 4.5vw;
  font-size: 50px;
  font-weight: bold;
  color: #fff; }

/* LOGO HEADER */
.logo {
  margin-top: 0px; }

.logo small {
  color: #074a76;
  /*visibility: hidden; */
  -webkit-animation-duration: 10s;
  /* Chrome, Safari, Opera */
  animation-duration: 10s; }

/* NOT SURE HEADERS */
.header .fa {
  font-size: 1.6vw;
  font-family: 'Muli';
  margin-bottom: 20px;
  -webkit-animation-iteration-count: 2;
  animation-iteration-count: 2;
  display: inline-block; }

/* SUB HEADERS */
.subhead {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold; }

.subheadstory {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold;
  padding-top: 30px; }

.subheadfront {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold; }

.subhead1 {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  margin: 0 auto;
  font-size: 26px;
  color: #074a76;
  font-style: bold;
  width: 80%;
  padding-bottom: 20px; }

.subhead2 {
  text-transform: uppercase;
  font-size: 2vw;
  /*width: 48%;*/
  margin: 0 auto;
  font-size: 12px;
  color: #074a76; }

.subhead3 {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  font-style: bold; }

.subhead8 {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold; }

.subhead a:active, .subhead a:visited, .subhead a, .subhead a:hover {
  color: #074a76; }

.fittext {
  font-weight: 100;
  line-height: 50px;
  font-size: 45px;
  font-family: Muli Bold;
  display: inline-block; }

.fittext1 {
  font-weight: 200;
  line-height: 50px;
  font-size: 45px;
  color: #074a76; }

.stats2 .fittext {
  color: #074a76;
  font-family: muli bold; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

/* THE STORIES H3 */
.fittext {
  font-weight: 100;
  line-height: 50px;
  font-size: 45px;
  font-family: Muli Bold;
  display: inline-block; }

/* STORIES QUOTE */
.subheadstory {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  font-size: 22px;
  font-family: muli bold;
  padding-top: 30px; }

/* Dennis Charpentier */
.subhead3 {
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: 1.5px;
  line-height: 30px;
  /*width: 48%;*/
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  font-style: bold; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

/* scholarships
@import "stories/background-imgs";
@import "stories/old-classes";
@import "stories/new-classes";
@import "stories/type";
@import "stories/header-imgs";
@import "stories/headers";
@import "stories/sub-headers"; */
.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

.mmonth-btns {
  float: left;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 15px; }

.navbtn {
  position: absolute;
  right: 0;
  top: 50%;
  display: none; }

/* display none btns */
.month-btns {
  display: none; }

.ug {
  display: none; }

/* donate button */
.button.fixed {
  position: fixed;
  top: 80%;
  right: 0;
  font-size: 1;
  z-index: 100000; }

#donate-btn {
  padding: 0; }

#donate-btn img {
  height: 40px; }

/* mobile navbar */
.navbar-header {
  background: white;
  box-shadow: 0px 0px 35px -10px #000000; }

.navbar-toggle {
  border: none;
  position: absolute;
  z-index: 1000; }

.navbar-toggle .icon-bar {
  height: 3px; }

.navbar-collapse {
  background: #1d1d1b;
  width: 60%;
  max-height: 100% !important;
  overflow-x: hidden;
  background: #074a76; }

.navbar-default {
  background: none; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #074a76; }

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: transparent; }

.navbar-default .navbar-nav > li > a {
  color: white;
  font-size: 5vw; }

.navbar-logo {
  padding: 10px; }

.navbar.mobile .navbar-nav {
  margin: 0;
  padding-top: 10px; }

.nav .bottom-align-text {
  width: 100%;
  position: absolute;
  color: white; }

.nav .bottom-align-text img {
  max-width: 100%; }

.nav .bottom-align-text .social {
  float: left;
  padding-top: 8px !important;
  margin: 20px 15px 40px 0 !important; }

a.social, .navbar-default .navbar-nav > li > a.social:focus, .navbar-default .navbar-nav > li > a.social:hover {
  color: white;
  background: url(../img/button_bg.png); }

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
  font-weight: bold; }

.navbar {
  display: none; }

.mobilelogo {
  display: none; }

/*# sourceMappingURL=quell.css.map */
