/* TRAINING< ACCESS< AWARNESS Section */


/* Training */

.funds h3 {
  padding: 10px;
  width: 45%;
  margin: 0 auto 15px auto;
  color: #074a76;
}





/* Access */

.funds h3 {
  padding: 10px;
  width: 45%;
  margin: 0 auto 15px auto;
  color: #074a76;
}





/* Awarrenes */


.funds h3 {
  padding: 10px;
  width: 45%;
  margin: 0 auto 15px auto;
  color: #074a76;
}



