.fittext {
  font-weight: 100;
  line-height: 50px;
  font-size: 45px;
  font-family: Muli Bold;
  display: inline-block;
}

.fittext1 {
  font-weight: 200;
  line-height: 50px;
  font-size: 45px;
  color: #074a76;
}


.stats2 .fittext {
  color: #074a76;
  font-family: muli bold;
}
