@font-face {
  font-family: Muli Bold;
  src: url(../fonts/Muli-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: Muli Bold;
  src: url(../fonts/Muli-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: Muli Light;
  src: url(../fonts/Muli-Light.ttf);
  font-weight: 700;
}



html, body {
  height: 100vh;
  font-family: Muli Bold;
}

