
h2 {
  font-size: 4.5vw;
  font-size: 50px;
  font-weight: bold;
  color: #074a76;
}

h4 {
  font-size: 4.5vw;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
}

h6 {
  font-size: 4.5vw;
  font-size: 50px;
  font-weight: bold;
  color: #074a76;
}